<!DOCTYPE html>
<html lang="es">
  {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | EcoJardín1</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>

<body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="index.html">
        <img src="img/logo.svg" alt="Maceteros, flores y tierra de hoja en EcoJardín" class="padding">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="macetero.html">Maceteros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="flores.html">Flores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="tierradehoja.html">Tierra de hoja</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="contacto.html">Registro</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
<main>
    <section id="bienvenidos">
    <h1>Bienvenidos a EcoJardín</h1>
  </section>
  <section id="flor">
  <div class="img">
    <img src="img/maceta.jpg" height="100px">
  </div>
</section>
  <section id="parrafo">
  <p>Nosotros te invitamos a conocer nuestros productos, para darle vida a tus plantas y a tu jardin. Navega por nuestro sitio y encuentra las mejores opciones para tu jardin, con una gran variedad de tierras de hoja, maceteros y flores. Tambien ofrecemos promociones semanales que puedes encontrar debajo de esta descripcion. Te invitamos a contactarnos si tienes alguna duda o sugerencia por via email o telefono, que te dejamos a continuacion.</p> 
  </section>  
  <section id="numero">
    <h2>+56945781263</h2>
  </section>
  <section id="bienvenidos">
  <h1>Nuestras promociones</h1>
</section>

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="tierradehoja.html">
          <img src="img/slidertierra.jpg" class="d-block w-100" alt="Tierra de hoja">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Tierra de hoja a 3x1</h5>
          <p>¡Elija tres de nuestras tierra de hoja y page por una!</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="macetero.html">
          <img src="img/slidermacetero.jpg" class="d-block w-100" alt="Macetero">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Maceteros a 2x1</h5>
          <p>¡Lleve dos maceteros por el precio de solo uno!</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="flores.html">
          <img src="img/sliderflores.jpg" class="d-block w-100" alt="Ramos de flores">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Ramos de flores con 50% de descuento</h5>
          <p>¡Todos los ramos de flores ahora a mitad de precio!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </button>
  </div>

  <div>
    <section id="blog">
      <h1>Categorias</h1>
      <div class="contenedor">
          
            <article>
              <a href="flores.html">
                <img src="img/catflor.jpg">
              </a>
              <h4>Flores</h4>
              <p>Aqui encontraras todas las flores para decorar tu jardin y/o casa.</p>
            </article>
          
          <article>
            <a href="macetero.html">
              <img src="img/catmacetero.jpg">
            </a>
              <h4>Macetero</h4>
              <p>Mantén bien cuidadas tus flores y plantas sin tener que preocuparte del riego diario</p>
          </article>
          
          <article>
            <a href="tierradehoja.html">
              <img src="img/cattierra.jpg">
            </a>
              <h4>Tierra de Hoja</h4>
              <p>Cuentan con una fórmula especial para el cultivo de todas las variedades de esta especie y para plantas suculentas en general.</p>
          </article>
      </div>
  </section>


  </div>
</main>
<footer>
  <section id="numero">
  <div class="contenedor">
    <p><br>EcoJardin &copy;2022<br>contacto@ecojardin.com +56945781263</p>
        
      </div>
  </div>
</section>
</footer>
</body>
</html>